.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px 60px 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.eyebrow {
  margin-bottom: -20px;
  color: var(--color-white);
  white-space: nowrap;
  line-height: normal;
  font-size: var(--text-category-eyebrow-fluid);
}

.titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: -6px;
  margin-top: 10px;
  max-width: 500px;
  background-image: var(--gradient-pink);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  text-wrap: balance;
  line-height: normal;
  padding-right: 10px;
  margin-left: 10px;
  hyphens: auto;
  -webkit-hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: var(--text-category-title-fluid);
  letter-spacing: var(--tracking-category-title-fluid);
}

.title.titleSingleWord {
  max-width: 450px;
  /* white-space: nowrap;
  text-wrap: nowrap;
  hyphens: none;
  -webkit-hyphens: none;
  padding-right: 20px;
  margin-left: 20px; */
}

.title.titleWrapped {
  margin-top: 25px;
  margin-bottom: 10px;
  line-height: 90%;
}

.description {
  width: 300px;
  color: var(--color-white-60);
  text-align: center;
  line-height: normal;
  font-size: var(--text-category-description-fluid);
}

@media (max-width: 900px) {
  .title.titleSingleWord {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 6px 0 12px;
  }

  .container {
    gap: 12.308vw;
    width: 100%;
  }

  .content {
    gap: 24px;
    width: 358px;
    max-width: 100%;
    padding: 0 64px;
  }

  .eyebrow {
    margin-bottom: -5px;
    font-size: var(--text-xs);
  }

  .description {
    width: 300px;
    font-size: var(--text-xs);
  }

  .returnButton {
    align-self: center;
  }

  .title {
    max-width: 300px;
    font-size: var(--text-topblock-title);
    letter-spacing: var(--tracking-topblock-title);
    hyphens: auto;
  }

  .title.titleWrapped {
    margin-top: 10px;
  }

  .readingsButton {
    height: 44px;
    gap: 6px;
    padding: 6px 8px 6px 24px;
  }

  .readingsButton :global(span:first-child) {
    font-size: var(--text-sm);
    color: var(--color-black) !important;
  }
}
