.header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 60px;
  position: relative;
  z-index: 10;
}

.logo {
  flex: 1 0 0;
  min-width: 0;
  color: var(--color-white);
  white-space: nowrap;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-shrink: 1;
  min-width: 0;
  gap: 42px;
  align-items: center;
  justify-content: center;
  color: var(--color-white-75);
  white-space: nowrap;
}

.navLink {
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navLink:hover {
  color: var(--color-white);
}

.actions {
  display: flex;
  flex: 1 0 0;
  min-width: 0;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: none;
}

@media (max-width: 1200px) {
  .header {
    gap: 16px;
    padding: 32px;
  }

  .logo,
  .actions {
    flex: 0 0 auto;
  }

  .nav {
    flex: 1 1 1;
    justify-content: space-around;
    gap: 10px;
    white-space: normal;
  }

  .navLink {
    overflow-wrap: break-word;
  }
}

@media (max-width: 768px) {
  .header {
    gap: 10px;
    padding: 16px;
  }

  .logo {
    font-size: var(--text-base);
  }
  .actions {
  display: flex;
  flex: 1 0 0;
  min-width: 0;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

  .nav,
  .downloadApp {
    display: none;
  }

  .menu {
    display: flex;
  }
}
