.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: 10px solid var(--color-greyish-blue);
  border-radius: var(--radius-page); */
  overflow: clip;
  background: var(--color-greyish-blue);
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500;
  object-fit: cover;
  object-position: top;
  pointer-events: none;
  z-index: 0;
}

.patternArticle {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440;
  height: auto;
  max-width: none;
  pointer-events: none;
  z-index: 0;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.articleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 60px 50px;
}

@media (min-width: 768px) {
  .page {
    border: 10px solid var(--color-greyish-blue);
  border-radius: var(--radius-page);
  }
}

@media (max-width: 768px) {

  .articleWrap {
    padding: 0 16px 32px;
  }

  .patternArticle {
    width: 790;
    height: auto;
  }

  .backgroundImage {
    height: 340px;
  }
}
