.fan {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 0;
}

.fanMobile {
  display: none;
}

.fanCardBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

@media (max-width: 768px) {
  .fan {
    display: none;
  }

  .fanMobile {
    display: block;
    position: absolute;
    left: calc(50% - 355px);
    top: -90px;
    z-index: 0;
    pointer-events: none;
  }
}
